Source : Coursera.org

### Functions

In [1]:
# Creating a new function to add 2 new numbers

def add_numbers(x,y):
    return(x+y)
    
print(add_numbers(2,4))

6

In [2]:
# The above function is updated using an optional parameter Z

def add_numbers(x,y,z=None):
    if z==None:
        return(x+y)
    else:
        return(x+y+z)
    
print (add_numbers(2,4) )   
print (add_numbers(2,4,6) )

6
12

In [3]:
# Included an optional parameter

def add_numbers(x,y,z=None, flag=False):
    if flag:
        print("Flag is True")
    if z==None:
        return(x+y)
    else:
        return(x+y+z)

print(add_numbers(2,4,flag=True))

Flag is True
6

In [4]:
# Assigning function to a variable
def add_numbers(x,y):
    return(x+y)
    
a= add_numbers

a(2,4)

6

### Types and Sequences

In [5]:
# Using Type to return the object type

type('This is a string')

str

In [6]:
type(None)

NoneType

In [7]:
type(4)

int

In [8]:
type(4.1)

float

In [9]:
type(add_numbers)

function

In [10]:
# If I don't want to change something after assignment, I would use tuples because they are immutable

x = (1, 'a', 2, 'b')
type(x)

tuple

In [11]:
# If I want to change something after assignment, I would use list because they are mutable

x = [1, 'a', 2, 'b']
type(x)

list

In [12]:
# appending an object to the list

x.append(3.5)

print(x)

[1, 'a', 2, 'b', 3.5]

In [13]:
# To loop through every item in the list

for element in x:
    print (element)

1
a
2
b
3.5

In [14]:
# Using While and indexing
i=0
while (i!= len(x)):
    print(x[i])
    i=i+1

1
a
2
b
3.5

In [15]:
# Concatenate lists

i=[2,4]+[3,6]
print(i)

[2, 4, 3, 6]

In [16]:
# Repeat lists

j=i*3
print(j)

[2, 4, 3, 6, 2, 4, 3, 6, 2, 4, 3, 6]

In [17]:
# Check if something is there in the list

3 in [1,2,3]

True

In [18]:
# Slicing a string

x="This is a string"
print(x[0]) # To print the first character
print(x[0:3])# To print the first and through characters , start and end points
print(x[1:5]) # To print the defined points inclusive
print(x[0:2]) # To print the first two characters
print(x[-1]) # To return the last element of the string
print(x[-4:-2]) # To return starting from 4th element and stopping before the 2nd element
print(x[:3]) # Beginning to stopping at the 3rd element
print(x[3:]) # Starting from 4th element through the end

T
Thi
his
Th
g
ri
Thi
s is a string

In [19]:
firstname ='Tom'
lastname='Cruise'
print(firstname, ' ',lastname)
print(firstname *3)
print('T'in firstname)

Tom   Cruise
TomTomTom
True

In [20]:
# Split returns a list of all words in a string or a list split on a specific character

firstname ='Sandhya Lakshmi Cherukupalli'.split(' ')[0]
lastname ='Sandhya Lakshmi Cherukupalli'.split(' ')[-1]
print(firstname)
print(lastname)

Sandhya
Cherukupalli

In [21]:
# Concetenating string objects. Can be done only by converting all objects into string

'Tom'+ 5

TypeError: can only concatenate str (not "int") to str

In [22]:
'Tom'+str(5)

'Tom5'

In [23]:
# Using dictionary key to retrieve values for a single value

x={'Sandhya Cherukupalli':'sandyc@newmail.com','Tom Cruise':'tomc@hollywood.com'}
x['Tom Cruise']

'tomc@hollywood.com'

In [24]:
# Using dictionary key to retrieve values multiple values using tuples

x={'Sandhya Cherukupalli':('sandyc@newmail.com','India'),'Tom Cruise':('tomc@hollywood.com','USA')}

In [25]:
x['Tom Cruise']

('tomc@hollywood.com', 'USA')

In [26]:
x['Tom Cruise'][1]

'USA'

In [27]:
# Using dictionary key to retrieve values multiple values using list
x={'Sandhya Cherukupalli':['sandyc@newmail.com','India'],'Tom Cruise':['tomc@hollywood.com','USA']}

In [28]:
x['Tom Cruise']

['tomc@hollywood.com', 'USA']

In [29]:
x['Tom Cruise'][1]

'USA'

In [30]:
# To add an empty record

x['Mickey Mouse'] = None

In [31]:
x

{'Sandhya Cherukupalli': ['sandyc@newmail.com', 'India'],
 'Tom Cruise': ['tomc@hollywood.com', 'USA'],
 'Mickey Mouse': None}

In [32]:
# Updating dictionary values
x.update({'Mickey Mouse':'mickey@disney.com'})

In [33]:
x

{'Sandhya Cherukupalli': ['sandyc@newmail.com', 'India'],
 'Tom Cruise': ['tomc@hollywood.com', 'USA'],
 'Mickey Mouse': 'mickey@disney.com'}

In [34]:
x.update({'Mickey Mouse':['mickey@disney.com','Fictionland']})

In [35]:
x

{'Sandhya Cherukupalli': ['sandyc@newmail.com', 'India'],
 'Tom Cruise': ['tomc@hollywood.com', 'USA'],
 'Mickey Mouse': ['mickey@disney.com', 'Fictionland']}

In [36]:
# iterate over all keys

for name in x:
    print(name)

Sandhya Cherukupalli
Tom Cruise
Mickey Mouse

In [37]:
type(x)

dict

In [38]:
# Iterating over values
for values in x.values():
    print(values)

['sandyc@newmail.com', 'India']
['tomc@hollywood.com', 'USA']
['mickey@disney.com', 'Fictionland']

In [39]:
# Iterating over all items

for items in x.items():
    print(items)

('Sandhya Cherukupalli', ['sandyc@newmail.com', 'India'])
('Tom Cruise', ['tomc@hollywood.com', 'USA'])
('Mickey Mouse', ['mickey@disney.com', 'Fictionland'])

In [40]:
# Unpacking sequence into different variables. The number of variables much match the number of values
x = ('Mickey', 'Mouse', 'mickey@disney.com','Fictionland')
fname, lname, email,place = x

In [41]:
fname

'Mickey'

In [42]:
email

'mickey@disney.com'

In [43]:
# Python has an inbuilt string formatting

sales_record={'price':3.24,'qty':6,'person':'Tom'}

sales_statement='{} bought {} qty at a price of $ {} each for a total of ${}'

print(sales_statement.format(sales_record['person'],
                             sales_record['qty'],
                             sales_record['price'],
                             sales_record['qty']*sales_record['price']))

Tom bought 6 qty at a price of $ 3.24 each for a total of $19.44

### Reading and Writing CSV (this is one of the several ways).
A direct import is possible using pandas.read_csv

This is the legend for the file. This file is uploaded to the repository as mpg.csv

mpg : miles per gallon
class : car classification
cty : city mpg
cyl : # of cylinders
displ : engine displacement in liters
drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
hwy : highway mpg
manufacturer : automobile manufacturer
model : model of car
trans : type of transmission
year : model year

In [58]:
import csv # importing csv package

%precision 2 # Rounds to 2 decimals

with open('mpg.csv') as csvfile:  # to open a csv file
    mpg=list(csv.DictReader(csvfile)) #reads each row as a dictionary and convert this into type list

In [59]:
# Reading the first 3 dictionaries in the list
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [60]:
# Length of the csv file - # No of records. 
len(mpg)

234

In [61]:
# To read the column names
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [62]:
# Because the csv file reads all the variables as text, in order to perform calculations, we must convert into float
# Finding average cty fuel economy across all cars
# w is the name of the dataset/list. Can give anything of our choice


sum(float(w['cty']) for w in mpg)/len(mpg)

16.858974358974358

In [63]:
# Finding average highway fuel economy across all cars

sum(float(w['hwy']) for w in mpg)/len(mpg)

23.44017094017094

In [64]:
# Finding the unique number of cylinders in the dataset. Use set to find anything unique

cylinders=set(w['cyl'] for w in mpg)
cylinders

{'4', '5', '6', '8'}

In [69]:
# Grouping the cars by cylinders and finding the average city mpg for each group
%precision 2 
CtyMpgByCyl =[]

for c in cylinders: # iterating over all cylinders
    summpg=0
    cyltypecount = 0
    for w in mpg:# iterating over all dictionaries or records
        if w['cyl'] ==c: # if the cylinder level type matches
            summpg += float(w['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')
        
CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [66]:
# Finding unique number of classes

vehicleclass=set(w['class'] for w in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [68]:
#Finding avg hwy miles per class
%precision 2 
HwyMpgByClass=[]

for v in vehicleclass:
    summpg=0
    classtype=0
    for w in mpg:
        if w['class'] ==v:
            summpg += float(w['hwy'])
            classtype +=1
    HwyMpgByClass.append((v,summpg/classtype))  
    
HwyMpgByClass.sort(key=lambda x:x[0])
HwyMpgByClass

[('2seater', 24.80),
 ('compact', 28.30),
 ('midsize', 27.29),
 ('minivan', 22.36),
 ('pickup', 16.88),
 ('subcompact', 28.14),
 ('suv', 18.13)]

### Dates and Times

In [70]:
import datetime as dt
import time as tm

In [71]:
# Returning current time in seconds since Jan 1 , 1970
tm.time()

1583100591.14

In [72]:
# Converting time to datetime

dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 3, 1, 16, 10, 38, 410647)

In [74]:
# Import datetime attributes

dtnow.year # Getting Year

2020

In [75]:
dtnow.month # Month

3

In [76]:
dtnow.day # Day

1

In [77]:
dtnow.hour # Hour

16

In [78]:
dtnow.minute # Minute

10

In [79]:
dtnow.second # Second

38

In [82]:
# Difference between 2 dates . Creating a time delta of 50 days

delta = dt.timedelta(days = 50) 
delta

datetime.timedelta(days=50)

In [83]:
# Returning the current date

today =dt.date.today()
today

datetime.date(2020, 3, 1)

In [84]:
today-delta

datetime.date(2020, 1, 11)

In [86]:
# Comparing dates

today > today-delta

True

### Objects and mapping

Python is an object oriented language. Object is a collection of variables and functions. Class is a blueprint of the object

In [96]:
# Class example

class Person:
    department = 'School of Acting' # This is a class variable
    
    def set_name(self,new_name):
        self.name=new_name
    def set_location(self,new_location):
        self.location=new_location

In [97]:
person = Person()
person.set_name('Tom Cruise')
person.set_location('Los Angeles, CA, USA')
print('{} lives in {} and works in the department {}'.format(person.name,person.location, person.department))

Tom Cruise lives in Los Angeles, CA, USA and works in the department School of Acting

In [98]:
# Mapping min function and iterating through the values
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [99]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

### Lambda and List Comprehensions

In [102]:
# Lambda takes 3 parameters and math for 3 values

new_function= lambda a,b,c: a+c-b

new_function(2,4,6)

4

In [106]:
# Iterating 0 to 29 and returning even numbers

my_list=[]
for number in range(0,30):
    if number % 2==0:
        my_list.append(number)
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [107]:
# Alternate way
my_list=[number for number in range(0,30) if number % 2 ==0]
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]